#app{
    color:red;
    text-align:center;
    font-size:24px;
    background: url('./logo.png') no-repeat;
    background-position: left top; 
    transform: translateY(30px);
    box-sizing: border-box;
    background-color: red; 
}